body{
    background-color: rgb(52, 46, 46);
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    text-align: center;
    color: white;
    width: 95%;
}
.container{
    background-color: rgb(37, 103, 121);
    padding: 20px;
    margin: 5px;
    border: none;
    width: fit-content;
    display: inline-block;
    border-radius: 16px;

}
.input-div{
    color: white;
    text-align: center;
    margin: 2px;
    
}
.inp{
    width: 250px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 30px;    
}

p{
    font-size: 10px;
    color: white;
}